<div class="container">
  <div class="header">
  <h1>Bloc Chat</h1>
</div>
<div class="left-side">
  <h2>Pick a room</h2>
  <ul ng-repeat="item in home.rmList">
    <li ng-click="home.setActiveRoom(item)"><a>{{ item.$value }}</a></li>
  </ul>

 <div ng-controller='ModalCtrl as modals'>
 <button type="button" ng-click="modals.open()">Add New Room</button>
</div>

</div>
<div class="right-side">
    <div class="room-header">
    <h2>{{ activeRoom.$value }}</h2>
  </div>
  <div class="room-content">
     <ul ng-repeat="msg in currMessages">
      <li>{{ msg.content + " " + msg.username + " " + msg.sentAt }}</li>
    </ul>
  <div class="footer">
    <form name="messageForm">
      <textarea ng-model="newMessage"></textarea>
      <button type="button" ng-click="home.createMessage(newMessage)">Send a message</button>
    </form>
  </div>
  </div>
</div>
</div>
